
$blue:    #3B626E !default;
$red:     #8D6E57 !default;
$orange:  #fd7e14 !default;
$yellow:  #FFD753 !default;
$green:   #005438 !default;
$teal:    #00994F !default;
$cyan:    #17a2b8 !default;